# This is a merge of my default ignore file and the ignore file found in the
# HTML5 Boilerplate repository of paulirish at github at
# https://github.com/paulirish/html5-boilerplate/
# Thank you, Paul! I hope you don't mind.

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

# OS or Editor folders
.DS_Store
.cache
.project
.settings
nbproject
thumbs.db

# Jekyll
_site

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
publish
.idea

# HTML5 Boiler Plate build script local files
build/buildinfo.properties
build/config/buildinfo.properties